/* via Eric Meyer Reset Reloaded */
/* http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

body {
    line-height: 1;
    color: black;
    background: white;
}

ol, ul {
    list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

body {
    font: 13px/16px "ff-dagny-web-pro-1", "ff-dagny-web-pro-2", sans-serif;
    color: #333;
    position: relative;
    background: url(../img/bg-pixel1a.png) 0 -25px repeat-x;
}

#container {
    width: 960px;
    margin: 0 auto;
    padding: 30px 0 10px 0;
    position: relative;
}

#grid {
    position: absolute;
    width: 960px;
    height: 1000px;
    background: url(../img/24_col.gif);
    z-index: 1337;
    opacity: 0.2;
    pointer-events: none;
}

#truliaBar a {
    display: block;
    width: 930px;
    margin: 0 auto;
    color: white;
    padding: 3px 15px;
    text-decoration: none;
    text-align: right;
    background: url(../img/right-arrow.png) right 7px no-repeat;
    text-shadow: 1px 1px 1px #4d7400;
    text-transform: lowercase;
}

#header #title {
    float: left;
    margin: 0 0 25px 5px;
}

#header #title h1 {
    font-size: 28px;
    line-height: 28px;
    color: #690;
    margin-bottom: 5px;
}

#header #title p {
    padding-left: 1px;
    color: #999;
    font-size: 15px;
    line-height: 19px;
}

#poweredby {
    float: left;
    clear: left;
}

#poweredby a {
    display: block;
    width: 72px;
    height: 33px;
    background-image: url(../img/powered-by-trulia.png);
    text-indent: -9999px;
}

#poweredby.bw a {
    background-image: url(../img/powered-by-trulia-bw.png);
}

#poweredby a:link {
    background-position: left bottom;
}

#poweredby a:visited {
    background-position: left bottom;
}

#poweredby a:hover {
    background-position: left bottom;
}

#poweredby a:active {
    background-position: left bottom;
}

/* FOOTER */
#footer {
    border-top: 1px dotted #DDD;
    color: #999;
    margin: 30px 10px 30px 0;
    padding-top: 10px;
    clear: both;
}

#footer a:link {
    color: #999;
    text-decoration: underline;
}

#footer a:visited {
    color: #999;
}

#footer a:hover {
    color: #666;
}

#footer a:active {
    color: #666;
}

/* SOCIAL MEDIA LINKS*/
#pinImg, #pinImg img {
    opacity: 0;
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    pointer-events: none;
}

#sharestatic {
    background: url(../img/share-buttons-horiz.png) no-repeat;
    width: 428px;
    height: 20px;
    float: left;
    clear: left;
    margin: 0 0 25px 5px;
}

#sharestatic2 {
    background: url(../img/share-buttons-2rows.png) no-repeat;
    width: 213px;
    height: 46px;
    float: right;
    clear: right;
    margin: 3px 5px 25px 5px;
}

#sharestatic3 {
    background: url(../img/share-buttons-horiz2.png) no-repeat;
    width: 222px;
    height: 62px;
    float: right;
    clear: right;
    margin: 3px 5px 25px 5px;
}

#share {
    width: 340px;
}

#share li {
    float: left;
    margin-left: 7px;
}

#share li.share_stumble {
    padding: 1px 0 0 0;
    margin: 0;
}

#share li.share_twitter {
    margin-left: 2px;
}

#share2 {
    float: right;
    clear: right;
    margin: 3px 5px 25px 5px;
}

#share2 li {
    float: left;
    margin-right: 6px;
}

#share2 li.share_fblike {
    padding-top: 0;
    margin-right: 0;
}

#share2 li.share_twitter {

}

#share2 li.share_google {
    padding-top: 2px;
}

#share2 li.share_stumble {
    padding-top: 2px;
}

#share2 {
    margin-right: 20px !important;
}

#share2.ff3 {
    margin-bottom: 15px !important;
}

#old_browser_msg {
    display: none;
    float: right;
    clear: right;
    width: 500px;
    color: white;
    background: #D53E4F;
    border: 1px solid #9E0142;
    padding: 5px;
    margin-right: 24px;
}

#controls fieldset {
    width: 250px;
}

#controls span {
    float: left;
    width: 120px;
    clear: left;
}

#controls button {
    float: left;
}

fieldset#state label, fieldset#state input {
    display: none;
}

fieldset#state.ff3 {
    width: 500px;
}

fieldset#state.ff3 label {
    display: block !important;
}

fieldset#type {
    margin-right: 49px;
    float: left;
}

#state_all_label {
    display: inline !important;
}

#scale {
    float: right;
}

#scale ul {
    list-style-type: none;
}

#scale li {
    float: left;
    width: 15px;
    height: 15px;
}

#vis {
    clear: all;
    margin-bottom: 20px;
    height: 370px;
    height: 285px;
}

#tiles {
    font-size: 12px;
    clear: both;
}

#tiles th {
    vertical-align: top;
    padding: 3px;
    color: #ccc;
}

th.h7, th.h8, th.h9, th.h10, th.h11, th.h12, th.h13, th.h14, th.h15, th.h16, th.h17, th.h18, th.h19 {
    color: #444 !important;
}

#tiles tr th {
    padding-top: 12px;
}

#tiles tr:first-child th {
    padding-top: 3px;
}

#tiles td {
    -webkit-perspective: 1000;
}

#tiles .tile {
    width: 38px;
    height: 38px;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.7s;
}

.face {
    position: absolute;
    -webkit-backface-visibility: hidden;
    width: 36px;
    height: 36px;
    background: #eee;
    border: 1px solid white;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#tiles td.sel .face {
    border-color: black;
}

.face.hidden {
    display: none;
}

#tiles td.dim .screen {
    opacity: 0.6;
}

.face.back {
    -webkit-transform: rotateY(180deg);
}

.tile .screen {
    background: white;
    opacity: 0.0;
    width: 36px;
    height: 36px;
    position: absolute;
    z-index: 1337;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid white;
}

#map {
    float: left;
    width: 320px;
    height: 202px;
    margin-bottom: 15px;
}

#map path.state {
    fill: #ddd;
    stroke: white;
    stroke-width: 1px;
}

#map path.state:hover {
    fill: #5eab1f;
    fill: #999;
    cursor: pointer;
}

#map path.state.sel {
    fill: #444;
    cursor: default;
}

#legend {
    clear: left;
    margin-left: 24px;
    width: 165px;
    color: #777;
    margin-top: 10px;
    background: #f3f3f3;
    border: 1px solid #f0f0f0;
    overflow: hidden;
    padding: 5px 7px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 11px;
    line-height: 11px;
    margin-bottom: 10px;
    margin-right: 24px;
}

#legend ul {
    list-style-type: none;
    overflow: hidden;
    clear: both;
}

#legend li {
    float: left;
    margin-right: 1px;
    width: 14px;
    height: 14px;
}

#legend p {
    margin-top: 3px;
}

#legend p.more {
    float: right;
}

#legend p.less {
    float: left;
}

#states_nav {
    width: 400px;
    float: left;
    margin-left: 20px;
}

#states_nav p {
    margin-left: 4px;
}

#wtf {
    float: left;
    width: 515px;
}

#poweredby {
    float: right !important;
    margin-top: -11px !important;
}

#poweredby.old_browsers {
    display: none;
    position: absolute;
    top: 463px;
    right: 24px;
}

#wtf .title {
    background: #fdf;
}

#pc2mob {
    float: left;
}

#pc2mob path {
    stroke: white;
    stroke-width: 2px;
}

#pc2mob.all path.pc {
    fill: #ddd;
}

#pc2mob.all path.mob {
    fill: #ccc;
}

#pc2mob.pc path.pc {
    fill: #444;
}

#pc2mob.pc path.mob {
    fill: #ddd;
}

#pc2mob.mob path.pc {
    fill: #ddd;
}

#pc2mob.mob path.mob {
    fill: #444;
}

#pc2mob ul, #ie8_percents {
    list-style-type: none;
    margin-top: 20px 0 0 45px;
    width: 150px;
}

#pc2mob li, #ie8_percents li {
    float: left;
    width: 75px;
    text-align: center;
}

#pc2mob li span, #ie8_percents li span {
    display: block;
    font-size: 24px;
    line-height: 24px;
}

#pc2mob.all li.pc, #ie8_percents li.pc {
    color: #ccc;
}

#pc2mob.all li.mob, #ie8_percents li.mob {
    color: #aaa;
}

#pc2mob.pc li.pc {
    color: #444;
}

#pc2mob.pc li.mob {
    color: #999;
}

#pc2mob.mob li.pc {
    color: #999;
}

#pc2mob.mob li.mob {
    color: #444;
}

#pc2mob svg {
    margin: 0 70px 0 0;
}

#hourly_values {
    float: left;
    width: 200px;
}

#hourly_values svg {
    width: 300px;
    height: 170px
}

#hourly_values svg rect {
    fill: #ddd;
}

#hourly_values svg rect.sel {
    fill: #444;
}

#hourly_values svg text {
    fill: #444;
}

#hourly_values svg text.hidden {
    display: none;
}

#header h1, #header p#subtitle {
    margin-left: 18px;
}

#footer {
    clear: both;
    margin: 25px !important;
}

.controls {
    margin: 0 0 20px 7px;
    font-size: 12px;
    line-height: 12px;
}

.controls input {
    display: none;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
}

.controls label {
    float: left;
    display: block;
    cursor: pointer;
    padding: 4px 6px;
    background: #ddd;
    border: 1px solid #ccc;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin: 0 3px 2px 0;
    color: #888;
}

.controls label:hover {
    background: #999;
    color: white;
    border: 1px solid #888;
}

.controls label.sel {
    background: #444;
    color: white;
    border: 1px solid #333;
    cursor: default;
}

.controls button {
    padding: 2px 6px 3px 6px;
    background: #ddd;
    border: 1px solid #ccc;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    color: #888;
    font-size: 12px;
    margin: 0;

}

.controls button:hover {
    background: #999;
    color: white;
    border: 1px solid #888;
}

.controls button.sel {
    background: #444;
    color: white;
    border: 1px solid #333;
    cursor: default;
}

h2 {
    margin-top: -2px;
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 30px;
    width: 250px;
    margin-left: -50px;
    z-index: -1337;
    text-align: center;
}

p.subtitle {
    font-size: 13px;
    line-height: 19px;
    padding-top: 2px;
    color: #999;
}

#sharestatic3 {
    margin-right: 22px;
    margin-bottom: 0;
}

#truliaBar a {
    width: 895px !important;
}

html.ie8 #vis, html.ie9 #vis {
    height: 285px !important;
}

html.ie8 #tiles td.sel .face {
    border-color: white !important;
}

#ie8_percents {
    display: none;
}

#ie8_percents.ff3 {
    display: block;
}

html.ie8 #ie8_percents, #ie8_percents.ff3 {
    display: block !important;
    position: absolute;
    left: 20px;
    top: 510px;
}

/* 11 buckets purple to red */

.rbow2 .q1-11 {
    background: #5E4FA2;
    /*
    border-left-color: #5b40b3;
    border-top-color: #5b40b3;
    border-right-color: #3e2b7a;
    border-bottom-color: #3e2b7a;
    */
}

.rbow2 .q2-11 {
    background: #3288BD;
}

.rbow2 .q3-11 {
    background: #66C2A5;
}

.rbow2 .q4-11 {
    background: #ABDDA4;
}

.rbow2 .q5-11 {
    background: #E6F598;
}

.rbow2 .q6-11 {
    background: #FFFFBF;
    background: #f6faaa;
    /*border-color: #f6faaa;*/
}

.rbow2 .q7-11 {
    background: #FEE08B;
}

.rbow2 .q8-11 {
    background: #FDAE61;
}

.rbow2 .q9-11 {
    background: #F46D43;
}

.rbow2 .q10-11 {
    background: #D53E4F;
}

.rbow2 .q11-11 {
    background: #9E0142;
}

.dealloc .q1-10 {
    background: #702f9d;

    border-top-color: #670c9f;
    border-right-color: #540982;
    border-bottom-color: #540982;
    border-left-color: #670c9f;

}

.dealloc .q2-10 {
    background: #352f9e;

    border-top-color: #702f9d;
    border-right-color: #702f9d;
    border-bottom-color: #702f9d;
    border-left-color: #702f9d;
}

.dealloc .q3-10 {
    background: #2f659e;

    border-top-color: #702f9d;
    border-right-color: #702f9d;
    border-bottom-color: #702f9d;
    border-left-color: #702f9d;
}

.dealloc .q4-10 {
    background: #2fa09c;

    border-top-color: #702f9d;
    border-right-color: #702f9d;
    border-bottom-color: #702f9d;
    border-left-color: #702f9d;
}

.dealloc .q5-10 {
    background: #3fa42c;

    border-top-color: #702f9d;
    border-right-color: #702f9d;
    border-bottom-color: #702f9d;
    border-left-color: #702f9d;
}

.dealloc .q6-10 {
    background: #9ab12d;

    border-top-color: #702f9d;
    border-right-color: #702f9d;
    border-bottom-color: #702f9d;
    border-left-color: #702f9d;
}

.dealloc .q7-10 {
    background: #bdb82c;

    border-top-color: #702f9d;
    border-right-color: #702f9d;
    border-bottom-color: #702f9d;
    border-left-color: #702f9d;
}

.dealloc .q8-10 {
    background: #bd9b2c;

    border-top-color: #702f9d;
    border-right-color: #702f9d;
    border-bottom-color: #702f9d;
    border-left-color: #702f9d;
}

.dealloc .q9-10 {
    background: #bd7f2c;

    border-top-color: #702f9d;
    border-right-color: #702f9d;
    border-bottom-color: #702f9d;
    border-left-color: #702f9d;
}

.dealloc .q10-10 {
    background: #bd5c2b;

    border-top-color: #702f9d;
    border-right-color: #702f9d;
    border-bottom-color: #702f9d;
    border-left-color: #702f9d;
}

